<div class="col-xl-4 col-md-6 col-xm-8 col-10" style = "margin: auto; background-color: #f8f8f8; border-radius: 6px; padding: 15px; box-shadow: 0px 0px 2px 2px (255, 255, 255, 0.1)">
<%= form_with(model: post) do |form| %>
  <h1>New post</h1>
  <div>
    <%= form.label :tittle, style: "display: block" %>
    <%= form.text_field :tittle, class: "form-control" %>
    <% if post.errors[:tittle].any? %>
    <div style="color: red;">
      <%= post.errors.full_messages_for(:tittle).join(", ") %>
    </div>
    <% end %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class: "form-control" %>
    <% if post.errors[:description].any? %>
    <div style="color: red;">
      <%= post.errors.full_messages_for(:description).join(", ") %>
    </div>
    <% end %>
  </div>

  <div>
    <%= form.label :keyword, style: "display: block" %>
    <%= form.text_field :keyword, class: "form-control" %>
    <% if post.errors[:keyword].any? %>
    <div style="color: red;">
      <%= post.errors.full_messages_for(:keyword).join(", ") %>
    </div>
    <% end %>
    </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary col-12" %>
  </div>
<% end %>
</div>