<div id="<%= dom_id post %>" class="post-container col-4">
  <p>
    <%= link_to post.user.username, post.user, class: "post-username" %>
  </p>

  <p>
    <%= link_to "", post, class: "post-link" %>
  </p>
  
  <% if user_signed_in? %>
    <% post.images.each do |image| %>
      <%= image_tag(image, class: "post-image") %>
    <% end %>
    <% like = current_user.likes.find_by(post: post) %>
    <% if like.nil? %>
      <%= button_to "Like", likes_path, params: { like: { post_id: post.id } }, method: :post %>
    <% else %>
      <%= button_to "Unlike", like_path(like), method: :delete %>
    <% end %>

    <p class="post-likes"><%= post.likes.count %> Likes</p>
  <% end %>

  <div>
    <%= link_to post.user.username, post.user, class: "post-username" %>
    <%= post.description %>
    <p style="color: #007bff;">#<%= post.keyword %>
    </p>
  </div>

</div>
