<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= post.tittle %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keyword %>
  </p>

  <p>
    <%= link_to "", post, class:"post-link" %>
  </p>

  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 200px;") %>
  <% end %>
</div>
