<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= post.tittle %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keyword %>
  </p>

  <p>
    <%= link_to "", post, class:"post-link" %>
  </p>
</div>
