<p style="color: green"><%= notice %></p>
<a style="margin-left:20px;">
<%= link_to "Back to posts", posts_path %>
</a>
<%= render @post %>
<% if user_signed_in? %>
  <% if current_user.id == @post.user_id %>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post) %> |

      <%= button_to "Destroy this post", @post, method: :delete %>
    </div>
  <% end %>
<% end %>
<%= render "comments/form", comment: @comment %>
<%- @post.comments.each do |comment| %>
  <%= comment.text %>
  <br>
<% end %>